.libs
*.la
*.lo
*.d
*.o
*.a
*-opt
*-optimized
*-dbg
*-debug
*-oprof
*-oprofile
*-pro
*-prof
*-profiling
*-devel
*.e
*.nav
*.log
*.aux
*.toc
*.snm
*.csv
*.csv.*
*.dylib
*.so
*.so.*
*.vrb
*.jou
*.pyc
*.mod
*.e.*
*.e-s*
*.cfg
*.lbd.*
*.nem
*.spd
*.pex
*.pdf
*.plist*
*.bbl
*.blg
*.spl
*.idx
traceout*.txt
temp_print_trace.*
*.xda
*.xda.*
*.xdr
*.xdr.*
*.mps
*.msmp
*.msmp-*
*.muds
# Latex garbage
*.lot
*.lof
*.poly
*.mpx
*.btr
*.tex-e
*.xml
*.xml.*
*.gmv
*.plt
*.slh
*.eps
*.dat
*.gp
*.plugin
*.outp
*.patch
*.txt
*.bib.bak
*.out
*.vtk
*.vtu
*.pvtu
*.zip
*.pt
*.net
.depend
*.png
*.svg
*.gif
*.tif
*.jpg
*.tiff
*.ps
*.bmp
*.mp4
*.webm
*.ico
*.html
*.xyz
*Revision.h
*.json
*.json.*
*.bak
*.data
*.processor.*
.clang_complete
.failed_tests
failed-unittest
compile_commands.json
build
test.cache

# test garbagge
*.FAILED.txt

# eclipse garbage
.project
.cproject
.metadata
.settings
.pydevproject

# vim garbage
*~
.*.swp
.*.swo

# Mac garbage
.DS_Store
*.dSYM

# gcov code coverage files
*.gcno
*.gcda
*.gcov

# paraview state files
*.pvsm

# Restartable Data
*.rd
*.rd-*

# Checkpoint Files
*.cpa.gz
*.cpr
*.cpa.gz-*
*.cpr-*

# JIT and automatic differentiation cache files
.jitcache/
.jitdir/
tmp_jit_*

# Do not store ipython notebook checkpoints
*-checkpoint.ipynb*

# Peacock
peacock_tmp_diff.exo
*.e.diff
peacock_*.i
peacock_*.e

# configure
_configs.sed
autom4te.cache
config.status
*MooseConfig.h
*MooseConfig.h.tmp
conf_vars.mk

# GPerf performance
*.prof
*.heap

# Ignore vscode local parameters
.vscode/*
